{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1>Bienvenido a blog de viajes</h1>
	<p>
		que tal estaus blah  bla dhsozduydf g fgiszydtf  gcydgusdghdfk gdygdygtgts</p>
{% endblock %}
