{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
	<h1>Puedes buscar por categoría
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Categorías</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.name }}</td>
					<td>
						<a href="{{ path('app_category_show', {'id': category.id}) }}">Consulta la lista de artículos</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">No se ha encontrado ninguna categoría</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
