{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!
{% endblock %}

{% block body %}
	<h1>Resultado de la búsqueda</h1>
	<h2 class="my-3">Artículos encontrados</h2>
	<table>
		{% for article in articles %}
			<div>
				<h3>{{ article.title }}</h3>
				<div>
					<a href="{{ path('app_article_show', {'id': article.id}) }}">ver artículo</a>
				</div>
			</div>
		{% else %}
			<div>No se ha encontrado ningún artículo</div>
		{% endfor %}
	</table>
{% endblock %}
